/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.chatbot {
  width: 100%;
  background: #121212; /* Fallback for browsers that don't support gradients */
  /* background: linear-gradient(
    135deg,
    #121212 25%,
    #313638 25%,
    #313638 50%,
    #121212 50%,
    #121212 75%,
    #313638 75%,
    #313638
  );
  background-size: 40px 40px;

  animation: move 4s linear infinite; */

  background: #121212
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);

  background-size: 11px 11px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #313638;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: block;
  cursor: pointer;
  transform: translateY(-50%);
  
}
header h2 {
  font-size: 1.8rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 90vh;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #222;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  display: none;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #242424;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #fff;
  background: #313638;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #313638;
  padding: 3px 20px;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
  background-color: #313638;
  &::placeholder{
    color: #fff;
  }
}
.chat-input span{
  font-size: 2rem;
  position: absolute;
  bottom: 5px;
  color: white;
  right: 20px;
  margin: 10px 0;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}